@font-face {
    font-family: 'Ridley Grotesk';
    src: url('../webfonts/RidleyGrotesk-Bold.woff2') format('woff2'),
        url('../webfonts/RidleyGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ridley Grotesk';
    src: url('../webfonts/RidleyGrotesk-BoldItalic.woff2') format('woff2'),
        url('../webfonts/RidleyGrotesk-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ridley Grotesk';
    src: url('../webfonts/RidleyGrotesk-Light.woff2') format('woff2'),
        url('../webfonts/RidleyGrotesk-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ridley Grotesk';
    src: url('../webfonts/RidleyGrotesk-Regular.woff2') format('woff2'),
        url('../webfonts/RidleyGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
	font-family: 'Ridley Grotesk', sans-serif;
}

a:hover {
	text-decoration: none;
}

h1 {
	color: #005051;
	font-size: 60px;
	line-height: 70px;
	margin-bottom: 30px;
	font-weight: bold;
}

h3 {
	font-size: 44px;
	line-height: 54px;
	margin-bottom: 35px;
	color: #005051;
	font-weight: bold;
}

h4 {
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 15px;
	color: #005051;
	font-weight: bold;
}

p {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 15px;
	color: #2F3838;
}

header {
	position: fixed;
	width: 100%;
	z-index: 999;
	-webkit-transition: background-color .15s ease-in-out;
	-moz-transition: background-color .15s ease-in-out;
	-o-transition: background-color .15s ease-in-out;
	transition: background-color .15s ease-in-out;
}

header .menu-header-container {
	padding-top: 40px;
	padding-bottom: 40px;
	-webkit-transition: all .15s ease-out;
	-moz-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	transition: all .15s ease-out;
}

header.header-white {
	background-color: #ffffff;
	position: fixed;
	z-index: 999;
}

header.shadow {
	-webkit-box-shadow: 2px 1px 3px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 1px 3px 0px rgba(0,0,0,0.5);
	box-shadow: 2px 1px 3px 0px rgba(0,0,0,0.5);
}

#mobile-nav {
	display: none;
	position: absolute;
    overflow: hidden;
    height: 140px;
}

.menu-mobile-menu-container {
	padding: 40px;
}

.burger-menu a {
	color: #005051;
}

.mob-menu {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #005051;
	min-height: 100vh;
	left: 100%;
	-webkit-transition: all .15s ease-out;
	-moz-transition: all .15s ease-out;
	-o-transition: all .15s ease-out;
	transition: all .15s ease-out;
}

.header-pad {
	height: 122px;
}

.logo {
	padding: 40px 30px 0;
	background: #005051;
	width: 176px;
	position: absolute;
}

.logo img {
	margin-bottom: 20px;
}

#triangle-topleft {
	width: 0;
	height: 0;
	border-top: 25px solid #005051;
	border-right: 88px solid transparent;
	position: absolute;
	left: 0;
}

#triangle-topright {
	width: 0;
	height: 0;
	border-top: 25px solid #005051;
	border-left: 88px solid transparent;
	position: absolute;
	right: 0;
}

#menu-header, #menu-header-mobile {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu-header > li {
	display: inline-block;
	margin-left: 45px;
}

#menu-header > li:last-of-type {
	border: 2px solid #005051;
	border-radius: 25px;
	padding: 7px 25px;
	text-transform: uppercase;
	font-weight: bold;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#menu-header > li:last-of-type:hover {
	background-color: #005051;
}

#menu-header > li:last-of-type:hover > a {
	color: #ffffff;
}

#menu-header > li.current-menu-item, #menu-header > li:hover {
	padding-bottom: 7px;
	border-bottom: 2px solid #005051;
}

#menu-header > li > a {
	color: #005051;
}

#menu-header-mobile > li {
	margin-bottom: 10px;
}

#menu-header-mobile > li > a {
	color: #ffffff;
}

#menu-header-mobile > li:nth-last-child(-n+2) {
	margin-top: 25px;
	border: 2px solid #ffffff;
	border-radius: 25px;
	padding: 7px 25px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#menu-header-mobile > li:last-of-type {
	margin-top: 15px;
}

.banner {
	height: 880px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 120px;
}

.banner > .container, .banner > .container > .row {
	height: 100%;
}

.banner h1 {
	font-size: 80px;
	font-weight: bold;
	color: #ffffff;
	line-height: 90px;
	margin-bottom: 30px;
}

.banner a {
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	border: 2px solid #ffffff;
	border-radius: 25px;
	padding: 10px 25px;
}

.banner a:hover {
	background-color: #ffffff;
	color: #005051;
}

.heading_image_and_copy_padded {
	padding: 120px 0;
}

.heading_image_and_copy_padded h2 {
	font-size: 60px;
	color: #ffffff;
	line-height: 70px;
	margin: 0;
	font-weight: bold;
}

.heading_image_and_copy_padded p {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 15px;
	color: #ffffff;
}

.image_and_copy_padded {
	padding: 75px 0;
}

.image_and_copy_padded p, .image_and_copy_unpadded p {
	font-size: 26px;
	line-height: 34px;
	margin: 0;
	color: #ffffff;
}

.product_categories {
	padding: 175px 0;
}

.product_categories h2 {
	font-size: 60px;
	color: #005051;
	line-height: 70px;
	margin-bottom: 30px;
	font-weight: bold;
}

.product_categories p {
	color: #2F3838;
	font-size: 18px;
	line-height: 24px;
}

.product_categories p img {
	width: 100%;
	height: auto;
}

.categories {
	margin-top: 55px;
	margin-bottom: 140px;
}

.category-box {
	height: 360px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

.category-box .category-name, .category-box .category-name a {
	color: #ffffff;
	margin: 0;
	font-size: 32px;
	line-height: 40px;
}

.category-box:hover .category-overlay {
	top: 0;
}

.category-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 25px;
	background-color: rgba(0, 80, 81, .9);
	top: -100%;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.category-overlay > .row {
	height: 100%;
}

.category-overlay p {
	color: #ffffff;
	font-size: 18px;
	line-height: 24px;
}

.category-overlay a {
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	border: 2px solid #ffffff;
	border-radius: 25px;
	padding: 10px 25px;
}

.category-overlay a:hover {
	background-color: #ffffff;
	color: #005051;
}

.marginT-15 {
	margin-top: 15px;
}

.marginB-15 {
	margin-bottom: 15px;
}

.marginL-0 {
	margin-left: 0;
}

.marginR-0 {
	margin-right: 0;
}

.marginLR-0 {
	margin-left: 0;
	margin-right: 0;
}

.paddingA-20 {
	padding: 20px;
}

.paddingT-20 {
	padding-top: 20px;
}

.paddingT-50 {
	padding-top: 50px;
}

.paddingL-20 {
	padding-left: 20px;
}

.paddingL-30 {
	padding-left: 30px;
}

.paddingL-80 {
	padding-left: 80px;
}

.paddingR-20 {
	padding-right: 20px;
}

.paddingR-30 {
	padding-right: 30px;
}

.paddingR-80 {
	padding-right: 80px;
}

img.alignright {
	float: right;
	margin: 0 0 30px 30px;
}

img.alignleft {
	float: left;
	margin: 0 30px 30px 0;
}

img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignright {
	float: right;
}

.alignleft {
	float: left;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.copy_and_image_full .copy-full > .row, .image_and_copy_full .copy-full > .row {
	margin-left: 0;
	margin-right: 0;
}

.copy_and_image_full h3, .image_and_copy_full h3 {
	font-size: 44px;
	line-height: 54px;
	margin-bottom: 35px;
	color: #005051;
	font-weight: bold;
}

.copy_and_image_full p, .image_and_copy_full p {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 20px;
}

.copy_and_image_full a, .image_and_copy_full a {
	border: 2px solid #005051;
	border-radius: 25px;
	padding: 7px 25px;
	color: #005051;
	font-size: 14px;
	font-weight: bold;
	margin-top: 30px;
}

.copy_and_image_full a:hover, .image_and_copy_full a:hover {
	background-color: #005051;
	color: #ffffff;
}

.copy_and_image_full .image-full, .image_and_copy_full .image-full {
	min-height: 740px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.pink-wrapper {
	background-color: #f3ede9;
	padding: 170px 0;
}

.pink-wrapper p {
	font-size: 18px;
	line-height: 24px;
}

.white-wrapper {
	background-color: #ffffff;
	padding: 100px 0;
}

.product-boxes {
	margin-top: 120px;
	padding: 20px;
}

.product-box {
	background-color: #ffffff;
	margin-bottom: 20px;
}

.product-info {
	padding: 45px 60px;
}

.product-info h3 {
	font-size: 32px;
	line-height: 40px;
}

.product-info p {
	font-size: 18px;
	line-height: 24px;
	margin: 0;
}

.product-info .enquire-now {
	text-align: right;
}

.product-info .btn-enquire {
	border: 2px solid #005051;
    border-radius: 25px;
    padding: 7px 25px;
    text-transform: uppercase;
    font-weight: bold;
    color: #005051;
}

.product-info .btn-enquire:hover {
	background-color: #005051;
	color: #ffffff;
	text-decoration: none;
}

.tax-enquire-btn {
	border: 2px solid #005051;
	border-radius: 25px;
	padding: 7px 25px;
	text-transform: uppercase;
	font-weight: bold;
	color: #005051;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.tax-enquire-btn:hover {
	background-color: #005051;
	color: #ffffff;
	text-decoration: none;
}

#enquiry-form .modal-content, #enquiry-confirm .modal-content {
	padding: 100px;
	border: none;
	border-radius: 0;
	background-color: #F3EDE9;
}

#enquiry-form h2, #enquiry-confirm h2 {
	font-size: 60px;
	line-height: 70px;
	margin-bottom: 30px;
	color: #005051;
}

#enquiry-form p, #enquiry-confirm p {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 60px;
}

#enquiry-form .form-control, .contact-us .form-control, .custom-select {
	border: 0;
	border-radius: 0;
	border-bottom: 2px solid #D0E0D8;
	font-size: 18px;
	line-height: 24px;
}

.contact-us p {
	font-size: 26px;
	line-height: 34px;
	margin-bottom: 50px;
}

.contact-us form p {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 80px;
}

.privacy-policy p + h4, .privacy-policy ul + h4 {
	margin-top: 40px;
}

.privacy-policy ul li {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 15px;
}

.privacy-policy p a {
	color: #4C858D;
	text-decoration: underline;
}

.section-cta {
	margin-top: 20px;
}

input[type="submit"] {
	border-radius: 25px;
	border: 2px solid #005051;
	color: #005051;
	font-size: 17px;
	margin-top: 50px;
	font-weight: bold;
}

input[type="submit"]:hover {
	background-color: #005051;
	color: #ffffff;
}

textarea {
	resize: none;
}

footer {
	background-color: #005051;
	padding-top: 70px;
	padding-bottom: 30px;
}

footer .menu {
	margin: 0;
	padding: 0;
	list-style: none;
}

footer .menu > li {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
}

footer a {
	color: #ffffff;
}

footer a:hover {
	color: #ffffff;
}

footer p {
	font-size: 14px;
	line-height: 28px;
	color: #ffffff;
	margin: 0;
}

#mobile-footer {
	display: none;
}

.modal-header {
	border: 0;
}

.modal .close {
	opacity: 1;
}

@media only screen and (max-width: 425px) {

	.header-pad {
		height: 75px;
	}

	#main-nav {
		display: none;
	}

	#mobile-nav {
		display: block;
	}

	.logo {
		padding: 20px 20px 0;
		width: auto;
	}

	.logo img {
		height: 80px;
		margin-bottom: 10px;
	}

	.banner {
		background-position: right;
	    height: 520px;
	    padding: 40px 0;
	}

	.banner h1 {
		font-size: 38px;
		line-height: 42px;
		margin-bottom: 15px;
	}

	.banner a {
		font-size: 12px;
	}

	.image_and_copy_padded img {
		display: none;
	}

	.image_and_copy_padded p {
		font-size: 17px;
		line-height: 25px;
	}

	.product_categories {
		padding: 70px 0;
	}

	.product_categories h2 {
		font-size: 30px;
		line-height: 38px;
	}

	.product_categories p img {
		width: 100%;
		height: auto;
	}

	.product-box > div {
		height: 120px;
	}

	.product-box > div.product-info {
		height: auto;
		padding: 20px;
	}

	.product-info h3 {
		font-size: 23px;
		line-height: 28px;
		margin-bottom: 15px;
	}

	.product-info .row p {
		display: inline-block;
	}

	.product-info .enquire-now {
		text-align: left;
	}

	.product-info .btn-enquire {
		font-size: 12px;
	}

	.categories {
		margin-top: 35px;
		margin-bottom: 35px;
	}

	.category-box {
		height: 240px;
	}

	.category-box .category-name, .category-box .category-name a {
		font-size: 23px;
		line-height: 28px;
	}

	.category-overlay p {
		font-size: 12px;
	    line-height: 20px;
	}

	.category-overlay a {
		font-size: 12px;
	}

	.product_categories p {
		font-size: 10px;
		line-height: 21px;
	}

	.copy_and_image_full h3, .image_and_copy_full h3 {
		font-size: 27px;
		line-height: 34px;
		margin-bottom: 30px;
	}

	.copy-full {
		padding-top: 60px;
		padding-bottom: 60px;
	}

	.copy-full .paddingL-80 {
		padding-left: 15px;
	}

	.copy-full .paddingR-80 {
		padding-right: 15px;
	}

	.heading_image_and_copy_padded p, .copy_and_image_full p, .image_and_copy_full p, .pink-wrapper p {
		font-size: 15px;
		line-height: 21px;
		margin-bottom: 15px;
	}

	.copy_and_image_full a, .image_and_copy_full a {
		font-size: 12px;
	}

	.copy_and_image_full .image-full, .image_and_copy_full .image-full {
		min-height: 250px;
	}

	#main-footer {
		display: none;
	}

	#mobile-footer {
		display: block;
	}

	#mobile-footer img {
		margin-bottom: 40px;
	}

	footer {
		padding-top: 50px;
		padding-bottom: 25px;
	}

	footer p {
		font-size: 13px;
		line-height: 20px;
		margin-bottom: 10px;
	}

	.heading_image_and_copy_padded {
		padding-top: 100px;
		padding-bottom: 60px;
	}

	.heading_image_and_copy_padded h2 {
		font-size: 30px;
		line-height: 38px;
		margin-bottom: 60px;
	}

	.heading_image_and_copy_padded img {
		width: 100%;
	}

	.section-cta {
		margin-top: 50px;
	}

	.pink-wrapper {
		padding: 100px 0;
	}

	.pink-wrapper h1 {
		font-size: 30px;
		line-height: 38px;
		margin-bottom: 15px;
	}

	#enquiry-form .modal-content, #enquiry-confirm .modal-content {
		padding: 0;
	}

	#enquiry-form h2, #enquiry-confirm h2 {
		font-size: 30px;
		line-height: 38px;
		margin-bottom: 15px;
	}

	#enquiry-form p, #enquiry-confirm p {
		font-size: 15px;
		line-height: 21px;
		margin-bottom: 15px;
	}

	#enquiry-form .form-control, .contact-us .form-control, .custom-select {
		font-size: 15px;
		line-height: 21px;
	}

	.modal-dialog {
		margin: 0;
	}

}